{
	"iron_mq":{
		"token":"XXX",
		"project_id":"XXX"
	},

	"mongodb":"mongodb://user:password@database.com:12345/database",

	"tumblr":{
		"consumer_key":"XXX",
		"consumer_secret":"XXX",
		"token":"XXX",
		"token_secret":"XXX"
	}
}