{
	"iron_mq":{
		"token":"XXX",
		"project_id":"XXX"
	},

	"mongodb":"mongodb://user:password@database.com:12345/database",

	"tumblr":{
		"consumer_key":"XXX",
		"consumer_secret":"XXX",
		"token":"XXX",
		"token_secret":"XXX"
	},

	"subreddits": [
		{"r": "funny", "tags": "reddlr, funny"},
		{"r": "pics", "tags": "reddlr, pics, picture"},
		{"r": "WTF", "tags": "reddlr, wtf, omg"},
		["r": "aww", "tags": "aww, cute"},
		{"r": "gifs", "tags": "reddlr, gif"},
		{"r": "EarthPorn", "tags": "reddlr, earth, landscape, nature, world"},
		{"r": "gonewild", "tags": "reddlrX, vogeur, ameteur, nude, selfie"},
		{"r": "food", "tags": "reddlr, food, cooking, cuisine, snack"}		 
	],

	"whitelist": [
		{"domain": "i.imgur.com", "type": "photo"},
		{"domain": "youtube.com", "type": "video"},
		{"domain": "youtu.be", "type": "video"}		 
	]
}